@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,700,900');

html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

h1 {
  margin: 0;
}

body {
  font-family: 'Titillium Web', sans-serif;
}

.container {
  width: 1040px;
  margin: 0 auto;
}

@media only screen and (max-width: 1040px) {
  .container {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
  }
}

.header__container {
  width: 1040px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media only screen and (max-width: 1040px) {
  .header__container {
    width: 100%;
    padding: 15px;
    justify-content: center;
  }
}

.header {
  width: 100%;
  height: 150px;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  overflow-x: hidden;
}

@media only screen and (max-width: 768px) {
  .header {
    height: auto;
  }
}

.logo {
  width: 100%;
  height: auto;
  max-width: 300px;
  z-index: 9999;
}

@media only screen and (max-width: 768px) {
  .logo {
    width: 67%;
    margin-top: 10px;
  }
}

.logo-title {
  margin: 0;
  color: white;
  font-size: 18px;
  text-align: center;
  font-weight: 400;
}

@media only screen and (max-width: 768px) {
  .logo-title {
    font-size: 16px;
  }
}

.menu li {
  display: inline;
  list-style: none;
  text-transform: uppercase;
  margin-left: 10px;
  color: rgb(255, 255, 255);
  font-weight: 700;
  opacity: 0.6;
}

@media only screen and (max-width: 768px) {
 .menu {
   display: none;
 }
}

.menu li a {
  color: white;
  font-weight: 700;
  text-decoration: none;
  padding: 5px;
  border-radius: 3px;
  transition: 0.3s all;
}

.menu li a:hover {
  background-color: rgb(100, 58, 121);
  transition: 0.3s all;
}

.hero {
  width: 100%;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(135, 80, 156);
  flex-direction: column;
  text-align: center;
}

.hero__title {
  margin-bottom: 50px;
  font-size: 36px;
  color: rgb(247, 243, 234);
}

@media only screen and (max-width: 768px) {
  .hero__title {
    font-size: 28px;
  }
}

.main__button {
  width: 295px;
  height: 65px;
  color: white;
  border-radius: 3px 3px 3px 3px;
  font-size: 16px;
  font-family: 'Titillium Web', sans-serif;
  text-transform: uppercase;
  border: none;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
}

.main__button:hover {
  box-shadow: 0  37px 20px -20px rgba(0, 0, 0, 0.2);
  transform: translate(0, -10px);
}

.main__button:focus {
  outline: none;
}

.services {
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: rgb(23, 194, 164);
  box-sizing: border-box;
}

@media only screen and (max-width: 768px) {
  .services {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.services__graph {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media only screen and (max-width: 1040px) {
  .services__graph {
    grid-template-columns: 1fr 1fr;
  }
}

.service-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  transition: 0.5s all;
}

.services-title {
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-size: 32px;
}

.services-info {
  color: white;
  font-size: 20px;
  text-align: center;
  padding-left: 15%;
  padding-right: 15%;
  margin-bottom: 50px;
}

.underline {
  width: 85px;
  height: 5px;
  border-radius: 5px;
  background-color: black;
  opacity: 0.3;
  margin: 0 auto;
  margin-top: 15px;
}

.service-title {
  color: white;
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.service-text {
  color: white;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
}

.skils-section {
  width: 100%;
  background-color: rgb(255, 255, 255);
  padding-top: 100px;
  padding-bottom: 100px;
}

@media only screen and (max-width: 768px) {
  .skils-section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.skils-title {
  color: black;
  text-align: center;
  text-transform: uppercase;
  font-size: 32px;
}

.skils-info {
  color: black;
  font-size: 20px;
  text-align: center;
  padding-left: 15%;
  padding-right: 15%;
  margin-bottom: 50px;
}

.skils-graph {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media only screen and (max-width: 1040px) {
  .skils-graph {
    grid-template-columns: 1fr 1fr;
  }
}

.skil-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s all;
}

.skil-title {
  color: black;
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 5px;
}

@media only screen and (max-width: 468px) {
  .skil-item img {
    width: 100%;
    height: auto;
  }
}

.portfolio-section {
  width: 100%;
  background-color: rgb(255, 221, 153);
  padding-top: 100px;
  padding-bottom: 100px;
}

@media only screen and (max-width: 768px) {
  .portfolio-section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.container__portfolio {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.portfolio-title {
  color: rgb(57, 57, 57);
  text-align: center;
  text-transform: uppercase;
  font-size: 32px;
}

.portfolio-info {
  color: rgb(57, 57, 57);
  font-size: 20px;
  text-align: center;
  padding-left: 15%;
  padding-right: 15%;
  margin-bottom: 50px;
}

.portfolio-graph {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
}

@media only screen and (max-width: 1040px) {
  .portfolio-graph {
    grid-template-columns: 1fr;
  }
}

.portfolio-item {
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media only screen and (max-width: 600px) {
  .portfolio-item img {
    width: 100%;
    height: auto;
  }
}

.project-title {
  color: rgb(57, 57, 57);
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 30px;
  text-align: center;
  font-weight: 400;
}

.project-info a {
  text-decoration: none;
}

.contact {
  width: 100%;
  height: auto;
  background-color: rgb(60, 84, 153);
  padding-top: 100px;
  padding-bottom: 100px;
}

@media only screen and (max-width: 768px) {
  .contact {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}


.contact-form {
  display: grid;
  grid-gap: 40px;
  width: 80%;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
}

@media only screen and (max-width: 768px) {
  .contact-form {
    width: auto;
    padding: 5px;
  }
}

.form-message {
  grid-column: span 2;
  background-color: rgb(39, 58, 113);
  height: 200px;
  border: none;
  border-radius: 5px;
  padding: 20px;
  font-family: 'Titillium Web', sans-serif;
  color: white;
  font-size: 18px;
}

input {
  background-color: rgb(39, 58, 113);
  border: none;
  border-radius: 5px;
  padding: 20px;
  font-family: 'Titillium Web', sans-serif;
  color: white;
  font-size: 18px;
}

@media only screen and (max-width: 768px) {
  input {
    grid-column: span 2;
  }
}

input[type=submit] {
  width: 295px;
  height: 65px;
  color: white;
  border-radius: 3px 3px 3px 3px;
  font-size: 16px;
  font-family: 'Titillium Web', sans-serif;
  text-transform: uppercase;
  border: none;
  font-weight: 700;
  background-color: rgb(48, 186, 231);
  grid-column: span 2;
  margin: 0 auto;
  transition: .3s all ease-in-out;
  -webkit-appearance: none;
}

input[type=submit]:hover {
  box-shadow: 0  37px 20px -20px rgba(0, 0, 0, 0.2);
  transform: translate(0, -10px);
}

input::placeholder {
  color: white;
}

input:focus {
  outline: none;
}

textarea:focus {
  outline: none;
}

textarea::placeholder {
  color: white;
}

.footer {
  width: 100%;
  height: 115px;
  background-color: rgb(52, 75, 142);
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .footer {
    height: auto;
  }
}

.footer-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: white;
  font-family: 'Titillium Web', sans-serif;
  font-size: 20px;
  font-weight: 700;
}

@media only screen and (max-width: 768px) {
  .footer-links {
    flex-direction: column;
    padding: 0;
  }
}

.footer-links li {
  list-style: none;
  transition: 0.3s all;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 768px) {
  .footer-links li {
    margin-bottom: 15px;
  }
}

.footer-links img {
  margin-left: 10px;
}

.footer-links li:hover {
  color: rgb(48, 186, 231);
  transition: 0.3s all;
}

.footer-links li a{
  list-style: none;
  text-decoration: none;
  color: white;
  transition: 0.3s all;
  text-align: center;
}

.footer-links li a:hover {
  color: rgb(48, 186, 231);
  transition: 0.3s all;
}

.modal-window {
  position: fixed;
  padding: 30px;
  top: 15%;
  left: 50%;
  width: 70%;
  height: 500px;
  margin-left: -35%;
  background-color: rgb(255, 221, 153);
  z-index: 998;
  color: black;
  box-shadow: 0 0 0 9999px rgba(0,0,0,0.5);
  transition: 0.3s all ease-out;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@media only screen and (max-width: 1040px) {
  .modal-window {
    flex-direction: column;
    left: 45%;
    height: auto;
    overflow-y: scroll;
  }
}

@media only screen and (max-width: 468px) {
  .modal-window {
    left: 43%;
    top: 10%;
  }
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 36px;
  font-weight: 700;

}

.outer {
  position: relative;
  margin: auto;
  width: 40px;
  cursor: pointer;
}

.inner {
  width: inherit;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

label {
  text-transform: uppercase;
  color: black;
  transition: all .3s ease-in;
  opacity: 0;
  cursor: pointer;
  font-size: 12px;
  line-height: 36px;
}

.inner:before, .inner:after {
  position: absolute;
  content: '';
  height: 1px;
  width: inherit;
  background: black;
  left: 0;
  transition: all .3s ease-in;
}

.inner:before {
  top: 50%;
  transform: rotate(45deg);
}

.inner:after {
  bottom: 50%;
  transform: rotate(-45deg);
}

.outer:hover label {
  opacity: 1;
}

.outer:hover .inner:before,
.outer:hover .inner:after {
  transform: rotate(0);
}

.outer:hover .inner:before {
  top: 0;
}

.outer:hover .inner:after {
  bottom: 0;
}

@media only screen and (max-width: 768px) {
  .modal-image {
    width: 100%;
    height: auto;
  }
}

/*loader*/

.lds-ellipsis {
  margin: 0 auto;
  position: relative;
  width: 64px;
  height: 64px;
  padding-top: 150px;
  padding-bottom: 100px;
}
.lds-ellipsis div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

/*hamburger*/

.hamburger {
  display: none;
  position: fixed;
  top: 10px;
  left: 10px;
  background-color: white;
  padding-left: 13px;
  padding-right: 13px;
  padding-bottom: 10px;
  padding-top: 10px;
  border-radius: 50%;
  -webkit-box-shadow: -5px 6px 15px 0 rgba(50, 50, 50, 0.75);
  -moz-box-shadow: -5px 6px 15px 0 rgba(50, 50, 50, 0.75);
  box-shadow: -5px 6px 15px 0 rgba(50, 50, 50, 0.75);
  z-index: 9999;
  opacity: 0.7;
  transition: .5s all;
}

.hamburger__open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-3px, 4px);
  transform: rotate(-45deg) translate(-5px, 6px);
}

.hamburger__open .bar2 {
  opacity: 0;
}

.hamburger__open .bar3 {
  -webkit-transform: rotate(45deg) translate(-5px, -6px);
  transform: rotate(45deg) translate(-5px, -6px);
}

@media only screen and (max-width: 768px) {
  .hamburger {
    display: block;
  }
}

.bar1, .bar2, .bar3 {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 5px 0;
  transition: 0.4s;
}

/*mobile menu*/
.mobile-menu {
  width: 1500px;
  height: 1500px;
  background-color: rgb(52, 75, 142);
  opacity: 0.9;
  border-radius: 50% 50%;
  transition: 1s all;
  position: fixed;
  left: -2000px;
  top: -2000px;
  display: flex;
  z-index: 999;
  align-items: center;
  justify-content: center;
}

.mobile-menu__open {
  margin: 0 auto;
  transition: 1s all;
  left: -300px;
  top: -300px;
}

.mobile-menu__container {
  width: 100%;
  height: 1000px;
  position: relative;
}

.mobile-menu__elements {
  color: white;
  font-size: 34px;
  font-weight: bold;
  position: absolute;
  top: 15%;
  left: 20%;
  list-style: none;
  line-height: 4rem;
}

.mobile-menu__elements li a {
  color: white;
  text-decoration: none;
}

.arrow {
  text-decoration: none;
  font-size: 36px;
  color: black;
  transition: .5s all;
}

.arrow:hover {
  font-size: 48px;
}